/*ROOT*/
:root {
    --midnight-moss: #7D62F4;
    --slate-blue: #826AED;
    --aqua-haze: #eef5f0;
    --pale-mist: #f7fafc;
    --mist-white: #f1f1f1ff;
    --green-teal: #4BCD97;
    --guiness-yellow: #eabf0b;
    --dusty-lavander: #EC449B;
    --raspberry: #F67488;
    --payne-gray: #546A7B;
    --white: #FDFDFF;
    --onyx: #393D3F;
    --cinzel-font-family: 'Cinzel', serif;
    --hand-writing-font-family: 'Bilbo Swash Caps', cursive;
    --noto-font-family: 'Noto Sans', sans-serif;
}

/*BODY*/
.main-body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--white);
    color: var(--pale-mist);
}

.text-moss {
    color: var(--midnight-moss);
}

.text-slate-blue{
    color: var(--slate-blue);
}

.text-onyx {
    color: var(--onyx);
}

.bg-slate {
    background-color: var(--slate-blue);
}

.bg-raspberry {
    background-color: var(--raspberry);
}

.bg-payne {
    background-color: var(--payne-gray);
}

bg-onyx {
    background-color: var(--onyx)
}

.bg-aqua {
    background-color: var(--aqua-haze);
}

.bg-teal {
    background-color: var(--green-teal);
}

.bg-guiness-yellow {
    background: var(--guiness-yellow);
}

.bg-moss {
    background-color: var(--midnight-moss);
}

.bg-cream {
    background-color: var(--pale-mist);
}


.index-title {
    margin-left: 1rem;
    font-size: 3rem;
    color: var(--onyx);
}

.index-text {
    text-align: justify-all;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--onyx)

}

hr {
    color: var(--midnight-moss);
    margin: 1rem;
}

vr {
    color: var(--midnight-moss);
}

.corner-scales {
    position: absolute;
    background-image: url("/public/images/scales.png");
    width: 400px;
    height: 400px;
    bottom: 0;
}

/*NAVBAR*/
.navbar-shadow {
    box-shadow: 0 5px 10px -9px var(--mist-white);
}

.navbar-custom {
    background-color: var(--slate-blue);
    border-bottom: 1px solid var(--mist-white);
    font-family: var(--cinzel-font-family);
}

@media (max-width: 989px) {
    .navbar-nav li {
        margin-left: 2rem;
    }
}

.navbar-brand-logo {
    width: 10rem;
    height: 4rem;
}

.navbar-toggler-icon {
    color: var(--mist-white) !important;
}

.nav-link {
    color: var(--mist-white);
}

.nav-link:hover {
    color: var(--guiness-yellow);
}

/*FONTS*/
.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-noto {
    font-family: var(--noto-font-family);
}

.font-cinzel {
    font-family: var(--cinzel-font-family);
}

.font-handwriting {
    font-family: var(--hand-writing-font-family);
}

.glow:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--midnight-moss);
    }
}

/*CARDS*/

.card {
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 10px var(--midnight-moss);
    height: auto;
    background-color: var(--midnight-moss);
}

.card-title {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.card-title-text {
    font-size: 1.5rem;
    color: var(--aqua-haze)
}

.card-text {
    text-align: left;
    padding: 0.5rem;
    color: var(--aqua-haze);
    font-size: 0.8rem;
}

/*FOOTER*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    color: var(--midnight-moss);

}

.footer-text {
    font-size: 1rem;
}

.footer-text-size {
    font-size: 0.7rem;
}

/*SOCIAL*/

.social-color {
    color: var(--midnight-moss);
}

/*CAREER*/

.block-project-image {
    width: auto;
    height: 20rem;
    filter: grayscale(75%);
}

.block-project-image:hover {
    filter: grayscale(0%);
}

.block {

}

.block-title {
    color: var(--green-teal);
}

.block-body {
    color: var(--midnight-moss);
    font-size: 1rem;
}

.block-details {
    font-size: 1rem;
}

/*QUOTE*/

.quote {
    font-size: 3.5rem;
}
