/*ROOT*/
:root {
    --midnight-moss: #0b270b;
    --pale-mist: #f7fafc;
    --mist-white: #f1f1f1ff;
    --green-teal: #0cb577;
    --guiness-yellow: #fcdc5a;
    --cinzel-font-family: 'Cinzel', serif;
    --hand-writing-font-family: 'Bilbo Swash Caps', cursive;
    --noto-font-family: 'Noto Sans', sans-serif;
}

/*BODY*/
.main-body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--midnight-moss);
    color: var(--pale-mist);
}

.index-title {
    margin-left: 1rem;
    margin-bottom: 0;
}

.index-text {
    text-align: justify-all;
    padding: 0.8rem;
    font-size: 0.8rem;
}

hr {
    color: var(--mist-white);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    margin: 1rem;
}

.corner-scales {
    position: absolute;
    background-image: url("/public/images/scales.png");
    width: 400px;
    height: 400px;
    bottom: 0;
}

/*NAVBAR*/
.navbar-shadow {
    box-shadow: 0 5px 10px -9px var(--mist-white);
}

.navbar-custom {
    background-color: var(--midnight-moss);
    border-bottom: 1px solid var(--mist-white);
    font-family: var(--cinzel-font-family);
}

@media (max-width: 989px) {
    .navbar-nav li {
        margin-left: 2rem;
    }
}

.navbar-brand-logo {
    width: 10rem;
    height: 4rem;
}

.navbar-toggler-icon {
    color: var(--mist-white) !important;
}

.nav-link {
    color: var(--mist-white);
}

.nav-link:hover {
    color: var(--green-teal);
}

/*FONTS*/
.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-noto {
    font-family: var(--noto-font-family);
}

.font-cinzel {
    font-family: var(--cinzel-font-family);
}

.font-handwriting {
    font-family: var(--hand-writing-font-family);
    color: var(--mist-white);
}

.glow:hover {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--green-teal), 0 0 50px var(--green-teal), 0 0 60px var(--green-teal), 0 0 70px var(--green-teal), 0 0 80px var(--green-teal);
    }
}

/*CARDS*/

.card {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 10px var(--mist-white);
    width: 20rem;
    height: auto;
}

.card-title {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.card-title-text{
    font-size: 1.5rem;
}

.card-text {
    text-align: left;
    padding: 0.5rem;
    color: var(--mist-white);
    font-size: 0.8rem;
}

/*FOOTER*/

footer{
    border-top:  1px solid var(--mist-white);
    height: 1rem;
}
.footer-text{
    color: var(--pale-mist)
}
